/* font required: Helvetica, HelveticaNeue Light, Verdana*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fef9f8;
}

footer{
    text-align: center; 
}
/*------------index.php----------*/
.index{
    height: 100vh;
    width: 100%;
    background-image: url(background-img.jpg);
    background-position:5% 75%;
    background-size: contain;
    box-sizing: border-box;
    position: relative;

}


img.header{
    max-width:100%;
    height: auto;
    display: block;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(239, 146, 115,0.7);
    padding: 10px 0px 10px 0px;
    color:white;
    font-family: 'HelveticaNeue Light', Arial, sans-serif;
    letter-spacing: 0.1em;
}

.menu .sign{
    font-family: "Perpetua","HelveticaNeue Light", sans-serif;
}

.menu nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 30px;
}
.menu nav ul li a{
    text-decoration: none;
    color: white;
}

.menu input, .menu button{
    display: inline-block;
    background-color: #ffc0ac;
    border-radius: 25px;
    padding: 5px 10px;
    margin:0px 5px;
}
.page{
    display: flex;
}

.negative-space{
    display:inline-block;
    min-width: 50%;
    max-width: 50%;
}

.index-content{
    display: inline-block;
    width: 50%;
    margin: 40px;
    font-size: 30px;
    color:white;
}
/*for other php also*/
.title{
    font-size:48px;
    font-family: 'HelveticaNeue Light', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: black;
    margin: 30px 0px 0px 0px;
}

.index-content .tajuk{
    font-size:64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: white;
    margin: 30px 0px 0px 0px;
}

marquee{
    font-family: 'Helvetica', Arial, sans-serif;
}

.index-content table{
    background-color: rgba(239, 146, 115,0.7);
    border: 1px solid white;
    border-top:white;
    border-left:white;
    border-right:white;

    

}

.index-content table tr td{
    padding: 0px 20px 5px 20px;
    

}
/*for enterform also*/
.btn{
    display: block;
    padding: 10px 45px;
    background-color: #ef9273;
    box-sizing: border-box;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    float: right;
    margin: 0px 10px 0px 10px;
    /*border: 2px solid #1d332d;*/
    transition: background-color .5s, border .5s;
    font-family: 'HelveticaNeue Light', Arial, sans-serif;

}

.btn:hover{
    background-color: black;
    color: white;
}
/*---------------------login.php+daftar_baru.php-------------*/
.negative-space2{
    display:inline-block;
    min-width: 20%;
    max-width: 20%;

}

.enterform{
    display: inline-block;
    width: 70%;
    text-align: left;
    margin: 30px 0px 30px 100px;
    font-family: Helvetica, Arial, sans-serif;

}

.enterform .title{
    margin: 0px 0px 10px 0px;
}

.enterform label{
    font-size: 25px;
}

.enterform input, .enterform select{
    display: inline-block;
    height: 70px;
    width: 580px;
    border-color: #406280;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 30px 0px;
}

.enterform button[type="reset"]{
    display: block;
    padding: 10px 45px;
    background-color: #b1b2b5;
    box-sizing: border-box;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    float: right;
}
/*-----------------------index2.php-------------------*/
.body{
    margin: auto;
    width: 70%;
    height:50vh;
    padding:40px;
    font-size: 30px;
    color:black;
    line-height: 1.25em;
    text-align: center;
    font-family: 'HelveticaNeue Light', Arial, sans-serif;
    font-weight: 100;
}
/*-------------------pilih_subjek.php------------*/
.action .btn.main{
    display: block;
    padding: 5px 20px;
    background-color: #ef9273;
    box-sizing: border-box;
    border-radius: 60px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    float: left;
    margin: 5px;
    border: 1px solid #ef9273;
}
.action .btn.main:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
}
.action .btn.sub{
    display: block;
    padding: 5px 20px;
    background-color:  white;
    box-sizing: border-box;
    border-radius: 60px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    float: left;
    margin: 5px;
    border: 0px;
}
.action .btn.sub:hover{
    background-color: rgb(212, 214, 231);

}
/*---------------for table----------------*/
.table{
    margin: auto;
    width: 70%;
    padding:40px;
    color:black;
    line-height: 1.5em;
    text-align: center;
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif; 
}
.table tr td{
    padding: 10px;
    font-size: 24px;
    border-bottom: #406280 1.5px solid;
}
/*---for creating questions, answering, editing--*/
.quiz{
    font-size:24px;
    width:70%;
    margin:auto;
    font-family: Helvetica, Arial, sans-serif;

}

.quiz td{
    text-align: right;
}
#bil, #ruangjawapan, .quiz input[type="file"], .quiz textarea, #nama, #namaSubjek, #topik, #jenis, #markah, #idsubjek, #markah{
    display: block;
    height: 40px;
    width: 580px;
    border-color: #406280;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    text-align: left;

}

.quiz textarea{
    display: block;
    height: 100px;
    width: 580px;
    font-size: 16px;
    border-color: #406280;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 30px 0px;
    border-radius: 10px;
    text-align: left;
}

.quiz fieldset, .body fieldset{
    display: flex;
    justify-content: center;
    text-align: center;
}

#mcqjawapan{
    display: block;
    height: 30px;
    width: 580px;
    border-color: #406280;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    text-align: left;
}

.table tr td ul li{
    list-style: none;
    font-size: 20px;
}

.answer-section{
    margin: auto;
    width: 60%;
}

/*----------------soalan_terkini.php---------*/
.soalan_terkini{
    color:black;
    line-height: 1.5em;
    text-align: left;
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif; 
}
